.btn-arrow {
  padding: 11px 27px 16px 19px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  gap: 18px;
  align-items: center;
  border-radius: 40px;
  background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
}

.page-block {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.page-block__name-link {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.5%;
}
.page-block__name-link_color {
  color: #E47500;
}

.hero-about {
  padding: 70px 0;
  color: #fff;
}
.hero-about .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-about__text-desc {
  max-width: 425px;
  width: 100%;
}
.hero-about__block-text {
  margin-bottom: 38px;
}
.hero-about__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 180.5%;
  margin-bottom: 25px;
}
.hero-about__desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 208.5%;
  margin-bottom: 50px;
}
.hero-about__slider-list {
  max-width: 739px;
  width: 100%;
}
.hero-about__slider-item {
  position: relative;
  max-width: 739px;
  width: 100%;
}
.hero-about__slider-number {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 17px 30px;
  background: #333;
  width: 179px;
  text-align: center;
  z-index: 5;
}
.hero-about__slider__text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 208.5%;
}

.work {
  padding: 144px 0 147px;
  color: #fff;
  line-height: 188%;
  font-weight: 400;
  font-size: 14px;
}
.work__title {
  margin-bottom: 63px;
}
.work__list {
  display: flex;
  gap: 43px;
}
.work__item {
  border-radius: 20px;
  background: #1C140F;
  box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
  padding: 64px 37px;
  max-width: 378px;
  width: 100%;
}
.work__btn {
  border-radius: 8px;
  background: rgba(176, 0, 220, 0.11);
  padding: 7px 25px 6px 14px;
  margin-bottom: 19px;
  color: #FFF;
  display: inline-block;
}
.work__btn_color2 {
  border-radius: 8px;
  background: rgba(220, 66, 0, 0.11);
}
.work__btn_color3 {
  border-radius: 8px;
  background: rgba(0, 220, 141, 0.11);
}
.work__name {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 188%;
  font-weight: 600;
}

.about-news {
  background: #1C140F;
}
.about-news .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-news__pic {
  padding-top: 113px;
}
.about-news__text-block {
  padding: 134px 95px 100px;
  color: #fff;
  font-size: 16px;
  line-height: 203%;
}
.about-news__name {
  font-weight: 500;
  margin-bottom: 14px;
  max-width: 536px;
}
.about-news__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 157.5%;
  margin-bottom: 14px;
  max-width: 531px;
}
.about-news__text {
  font-weight: 400;
  max-width: 536px;
  width: 100%;
}

.team {
  padding-top: 148px;
  padding-bottom: 157px;
}
.team__title {
  margin-bottom: 53px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
}
.team__item {
  padding: 35px 84px 30px;
  border-radius: 20px;
  background: #1C140F;
  text-align: center;
  max-width: 296px;
  width: 100%;
}
.team__item-name {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 202.5%;
}
.team__item-job {
  color: #E8E8E8;
  font-size: 16px;
  font-weight: 300;
  line-height: 202.5%;
}

@media screen and (max-width: 1024px) {
  .about-news .wrap {
    flex-wrap: wrap;
  }
  .hero-about .wrap {
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
  }
  .hero-about__text-block {
    margin-right: 0;
  }
  .hero-about__text-desc {
    max-width: unset;
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  .work {
    padding: 0 0 70px;
  }
  .work__list {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
  .team {
    padding: 70px 0;
  }
  .subscribe {
    padding-bottom: 70px;
  }
  .hero-about {
    padding-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .about-news__pic {
    padding-top: 50px;
  }
  .about-news__text-block {
    padding: 50px;
  }
}/*# sourceMappingURL=about.css.map */