@import "vars.scss";

.followers {
    margin-bottom: 133px;
    // padding-top: 63px;
    text-align: center;
    color: $textcolor;
    &__stat-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: space-between;
        max-width: 1140px;
        border-radius: 10px;
        background: #1C140F;
        padding: 37px 0;
    }
    &__stat-item {
        border-right: 2px solid #EEEFF2;
        width: calc(100% / 3);
        &:last-child {
            border-right: none;
        }
    }
}

.stat-followers {
    display: flex;
    justify-content: center;
    gap: 36px;
    color: $textcolor;
    font-family: 'Rubik', sans-serif;
    padding: 30px 0;
    &__pic {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        flex-shrink: 0;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    &__numb {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }
    &__name {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
}

.line-text {
    color: $textcolor;
    padding-top: 63px;
    text-align: center;
    &__name {
        margin-bottom: 15px;
    }
    &__title {
        font-size: 33px;
        font-weight: 600;
        line-height: 180.5%;
        margin-bottom: 13px;
    }
    &__desc {
        font-weight: 500;
        line-height: 187.5%;
        margin-bottom: 45px;
    }
}



.services-news {
    margin-bottom: 160px;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 189px;
    }
}

.services-news-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: $textcolor;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    &__desc {
        padding: 7px 20px 18px;
    }
    &__title {
        max-width: 472px;
        margin-bottom: 43px;
        line-height: normal;
    }
    &__text {
        max-width: 536px;
        margin-bottom: 18px;
        padding-bottom: 35px;
    }
    &__words {
        max-width: 508px;
        margin-bottom: 46px;
    }
    &__btn {
        display: inline-block;
        color: $textcolor;
        background: #DC7000;
        padding: 13px 45px;
        font-size: 16px;
    }
    &__pic-wrap {
        // flex: 1 0 42%;
        width: calc(100% - 704px);
        min-width: 400px;
        height: 489px;
    }
    &__pic {
        background-image: url(../img/services/Rec1.png);
        // max-width: 496px;
        // flex: 1 0 42%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        &_bg2 {
            background-image: url(../img/services/Rec2.png);
        }
        &_bg3 {
            background-image: url(../img/services/Rec3.png);
        }
    }
    &_row-reverse  {
        flex-direction: row-reverse;
    }
}

.video {
    margin-bottom: 190px;
    & .wrap {
        display: flex;
        // justify-content: space-between;
        gap: 85px;
    }
    &__wrap {
        max-width: 669px;
        width: 100%;
        height: 355px;
        border-radius: 16px;
    }
    &__video {
        width: 100%;
        height: 100%;
    }
    &__block {
        max-width: 385px;
        width: 100%;
        color: $textcolor;
    }
    &__bock-title {
        margin-bottom: 12px;
    }
    &__block-text {
        margin-bottom: 28px;
        font-size: 14px;
        font-weight: 400;
        line-height: 187.5%;
    }
}

.video-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-size: 14px;
    font-weight: 400;
    &__item {
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }
    &__icon {
        font-size: 24px;
    }
}

.customers {
    padding: 88px 0 60px;
    color: $textcolor;
    background: #1C140F;
    &__text-block {
        text-align: center;
    }
    &__title {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        line-height: 50px;
        max-width: 408px;
        width: 100%;
        margin: 0 auto 20px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 187.5%;
        max-width: 555px;
        width: 100%;
        margin: 0 auto 69px;
    }
    &__list {
        display: flex;
        // flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__item {
        max-width: 400px;
        width: 100%;
        
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.item-customers {
    border-radius: 10px;
    background: #0F0901;
    border: 2px solid #DDD;
    
    &:hover {
        border: 2px solid #DC7000;
    }
    &__link {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $textcolor;
        
    }
    &__user-block {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }
    &__photo {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__name {
        
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        font-weight: 500;
        // line-height: 30px;
    }
    &__location {
        color: #4F5665;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: 400;
        // line-height: 30px;
    }
    &__number {
        
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-right: 10px;
    }
    &__rating {
        margin-left: auto;
    }
    &__comment {
        
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 187.5%;
    }
}

.slider-row {
    display: flex;
    gap: 20px;
    // justify-content: end;
    &__item {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #DC7000;
        position: relative;
        color: #DC7000;
        &:hover {
            background-color: #DC7000;
            border: 2px solid #DC7000;
            backdrop-filter: drop-shadow(0px 14px 44px rgba(14, 20, 34, 0.08));
            cursor: pointer;
            color: #fff;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        // color: #DC7000;
    }
    & .icon-eva_arrow1::before,
    .icon-eva_arrow2::before {
        color: inherit;
    }

}

@media screen and (max-width:1000px) {
    .customers {
        &__list {
            flex-wrap: wrap;
        }
    }    
}

@media screen and (max-width:900px) {
    .video {
        margin-bottom: 100px;

        & .wrap {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            gap: 40;
        }

        &__block {
            max-width: unset;
        }
    }
    .services-news {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:768px) {
    .followers {
        &__stat-list {
            padding: 30px 15px;
        }
    }
    .stat-followers {
        gap: 20px;
    }
    .services-news__list {
        gap: 40px;
    }
    .services-news-item {
        flex-direction: column;
        row-gap: 40px;
        &__pic-wrap {
            max-width: 489px;
            min-width: 300px;
            height: 489px;
            width: 100%;
        }
    }
}


@media screen and (max-width:600px) {
    .followers {
        &__stat-list {
            padding: 30px 5px;
        }
        &__stat-item {
            // border-right: none;
            flex-direction: column;
            align-items: center;
        }
    }
    .stat-followers {
        padding: 0;
        &__text {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 600px) and (min-width: 475px) {
    .item-customers__link {
        gap: 5px;
        padding: 10px;
    }
}

@media screen and (max-width:450px) {
    .followers {
        &__stat-list {
            flex-direction: column;
            align-items: center;
        }
        &__stat-item {
            border-right: none;
            border-bottom: 2px solid #EEEFF2;
            width: 70%;
            padding-bottom: 20px;
        }
    }
}
