*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

a {
  cursor: pointer;
  text-decoration: none;
}

a,
.btn_subscribe,
.contacts-form__btn-submit {
  cursor: pointer;
}
a:hover, a:focus,
.btn_subscribe:hover,
.btn_subscribe:focus,
.contacts-form__btn-submit:hover,
.contacts-form__btn-submit:focus {
  transform: skew(-10deg);
}

ul {
  list-style: none;
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1175px;
  width: 100%;
}
.wrap_wrapper-bg {
  max-width: 1375px;
  padding: 0;
}
.wrap_header {
  max-width: 1375px;
}
.wrap_hero-index {
  justify-content: center;
  display: flex;
}
.wrap_projects {
  max-width: 1200px;
}
.wrap_subscribe {
  max-width: 1200px;
}
.wrap_footer {
  max-width: 1220px;
}
.wrap_about {
  max-width: 1250px;
}
.wrap_team {
  max-width: 1300px;
}
.wrap_services-news {
  max-width: 1200px;
}
.wrap_customers {
  max-width: 1330px;
}
.wrap_news-block {
  max-width: 1300px;
}

.logo {
  color: #fff;
  font-size: 29px;
  font-weight: 800;
  line-height: 153.5%;
  text-transform: uppercase;
}

.header {
  color: #fff;
  padding: 44px 0 39px;
  flex: 1 0 100%;
  order: 1;
  z-index: 1;
}
.header .wrap_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block {
  display: flex;
  align-items: center;
  gap: 37px;
}
.header__burger {
  display: none;
}

.btn {
  border-radius: 6px;
  background: #FA9021;
  padding: 11px 28px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.btn_subscribe {
  display: inline-block;
  padding: 8px 14px 9px 22px;
  border-radius: 8px;
  background: #DC7000;
}

.btn-borderradius {
  display: inline-block;
  padding: 14px 30px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
}

.btn-grey {
  padding: 10px 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 187.5%;
}

.nav__list {
  display: flex;
  gap: 88px;
  align-items: center;
}
.nav__item_btn {
  border-radius: 6px;
  background: #FA9021;
  padding: 11px 28px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.nav__item_btn:hover {
  color: #FA9021;
  background: transparent;
}
.nav__link {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.nav__link:hover {
  border-bottom: 2px solid #FA9021;
  color: #FA9021;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
}
.title_main {
  font-size: 50px;
  line-height: 155.2%;
}
.title_xl {
  font-size: 35px;
  font-weight: 600;
  line-height: 187.5%;
}
.title_l {
  font-family: "Rubik", sans-serif;
  font-size: 31px;
  line-height: 187.5%;
}
.title_m {
  font-size: 30px;
  line-height: 187.5%;
}
.title_s {
  font-size: 25px;
}
.title_xs {
  font-size: 17px;
}

.title-block {
  max-width: 545px;
  width: 100%;
}
.title-block__title-m {
  margin-bottom: 32px;
}
.title-block__text {
  margin-bottom: 46px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
}

.hero {
  padding: 70px 0;
  flex: 1 0 52%;
  order: 2;
}
.hero__text-block {
  flex: 1 0 45%;
}
.hero__name {
  color: #E87D0E;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 155%;
  margin-bottom: 17px;
  max-width: 160px;
  width: 100%;
}
.hero__title {
  margin-bottom: 26px;
  max-width: 480px;
  width: 100%;
}
.hero__desc {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  margin-bottom: 50px;
  max-width: 527px;
  width: 100%;
}
.hero__joystick {
  position: relative;
  max-width: 806px;
  min-width: 444px;
  width: 100%;
}
.hero__joystick::before {
  content: "";
  width: 100%;
  height: 770px;
  background-image: url(../img/index/joy_stick.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: -270px;
  right: 0;
  opacity: 0.9;
}
.hero__pic-block {
  display: flex;
  position: absolute;
  top: 15px;
  left: -100px;
  max-width: 578px;
  width: 100%;
  height: 221px;
}
.hero__picture-wrap_1 {
  margin-top: auto;
}
.hero__picture-wrap_2 {
  margin-left: 50px;
}
.hero__picture-wrap_3 {
  margin-left: auto;
}

.trending {
  padding-top: 132px;
}
.trending__line {
  display: flex;
  flex-wrap: wrap;
  row-gap: 47px;
  justify-content: space-between;
  margin-bottom: 57px;
}
.trending__list {
  display: flex;
  justify-content: center;
  gap: 47px;
}
.trending__item-link {
  text-align: center;
  max-width: 251px;
  width: 100%;
  display: block;
}
.trending__pic {
  margin-bottom: 25px;
  border-radius: 20px;
}
.trending__followers {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 187.5%;
}

.index-block {
  padding-top: 129px;
  position: relative;
}
.index-block__title {
  margin: 0 auto 67px;
  text-align: center;
  max-width: 826px;
  width: 100%;
}
.index-block__pic {
  position: relative;
}
.index-block__svg {
  position: absolute;
  top: -70px;
  right: 113px;
  z-index: -1;
}

.benefits {
  background-image: url(../img/index/benef-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.benefits .wrap {
  padding: 93px 51px;
}
.benefits__desc {
  text-align: center;
  max-width: 826px;
  width: 100%;
  margin: 0 auto;
}
.benefits__title {
  margin-bottom: 25px;
}
.benefits__text {
  margin-bottom: 99px;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.item-benefits {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.item-benefits__pic {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.item-benefits__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.item-benefits__icon .icon-smartphone-2-1 {
  font-size: 30px;
}
.item-benefits__icon .icon-pc-1 {
  font-size: 32px;
}
.item-benefits__icon .icon-ps4-1 {
  font-size: 40px;
}
.item-benefits__icon .icon-vr-glasses-1 {
  font-size: 31px;
}
.item-benefits__icon .icon-desktop-1-1 {
  font-size: 33px;
}
.item-benefits__icon .icon-d-cube-1 {
  font-size: 31px;
}

.projects {
  padding-top: 148px;
  padding-bottom: 105px;
  color: #fff;
}
.projects .wrap {
  text-align: center;
}
.projects__desc {
  margin: 0 auto 71px;
  text-align: center;
  max-width: 497px;
  width: 100%;
}
.projects__title {
  margin-bottom: 15px;
}
.projects__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 187.5%;
}
.projects__btn {
  display: inline-block;
}
.projects__list {
  margin-bottom: 72px;
  display: grid;
  row-gap: 5%;
  grid-auto-columns: 0.69fr 0.07fr 0.3fr 0.07fr 0.86fr 0.07fr 0.26fr 0.07fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "1 2 3 4 5 6 7 8 9" "a b c d e f g h j";
}
.projects__img {
  height: 100%;
  width: 100%;
}
.projects__img_1 {
  grid-column: span 4;
  width: 95%;
}
.projects__img_2 {
  grid-column: span 4;
  width: 95%;
}
.projects__img_5 {
  grid-column: span 4;
  width: 95%;
  justify-self: right;
}
.projects__img_6 {
  grid-column: span 4;
  width: 95%;
  justify-self: right;
}

.subscribe {
  padding-bottom: 163px;
}
.subscribe .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-form {
  width: 100%;
  color: #fff;
  padding: 40px 50px 42px 56px;
  border-radius: 15px;
  background: #1C140F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}
.subscribe-form__desc {
  max-width: 566px;
  width: 100%;
  padding-right: 30px;
}
.subscribe-form__title {
  font-weight: 500;
  margin-bottom: 10px;
  line-height: normal;
}
.subscribe-form__text {
  font-size: 17px;
  font-weight: 400;
}
.subscribe-form__email-form {
  border-radius: 8px;
  background: #FFF;
  padding: 6px 6px 6px 31px;
  max-width: 386px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subscribe-form__input {
  outline: none;
}
.subscribe-form__input::-moz-placeholder {
  color: #898989;
  font-size: 13px;
}
.subscribe-form__input::placeholder {
  color: #898989;
  font-size: 13px;
}

.footer {
  background: #070707;
  color: #fff;
}
.footer .wrap {
  display: flex;
  padding: 73px 15px 62px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}
.footer__desc {
  max-width: 370px;
  width: 100%;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__text {
  margin-bottom: 25px;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column-title {
  margin-bottom: 15px;
}
.footer__column-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 186.3%;
}
.footer__column-link_text {
  line-height: normal;
  max-width: 282px;
  width: 100%;
  margin-bottom: 11px;
}

.social-row {
  display: flex;
  gap: 16px;
  align-items: center;
}
.social-row__link {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.social-row .icon {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.copyright {
  border-top: 1px solid #D2D2D2;
  padding: 29px 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 190.6%;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav__list {
    gap: 50px;
  }
  .benefits__list {
    gap: 50px;
  }
  .benefits__item {
    width: 220px;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .trending__list {
    flex-wrap: wrap;
  }
  .header {
    padding-bottom: 0;
  }
  .header__burger {
    display: block;
  }
  .wrap_hero-index {
    flex-direction: column;
  }
  .index-block {
    padding-top: 70px;
  }
  .projects {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .subscribe {
    padding-bottom: 70px;
  }
  .hero__joystick {
    margin-left: 0;
    flex: unset;
  }
  .hero__joystick::before {
    content: "";
    order: 3;
    max-width: 100%;
    min-width: 444px;
    width: 100%;
    height: 444px;
    background-image: url(../img/index/joy_stick.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 180px 0;
    z-index: 0;
    position: absolute;
    top: auto;
    right: 0;
    bottom: calc(100% + 50px);
    opacity: 0.1;
  }
  .hero__pic-block {
    height: 100px;
    align-items: center;
    justify-content: space-between;
    top: 50px;
    left: 0;
  }
  .hero__picture-wrap {
    margin: unset;
    opacity: 0.5;
  }
  .subscribe-form {
    flex-direction: column;
    text-align: center;
  }
  .subscribe-form__desc {
    padding-right: 0;
  }
  .footer__desc {
    order: 1;
    max-width: 282px;
  }
  .footer__social {
    order: 2;
  }
  .footer__column_about {
    order: 4;
  }
  .footer__column_contact {
    order: 3;
  }
  .nav {
    display: none;
  }
  .nav-mobile.is-active {
    display: flex;
    margin-right: auto;
  }
  .nav-mobile__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .nav-mobile__item_btn {
    border-radius: 6px;
    background: #FA9021;
    padding: 11px 28px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  .nav-mobile__link {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .nav-mobile__link:hover {
    border-bottom: 2px solid #FA9021;
    color: #FA9021;
  }
  .btn-burger {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: transparent;
    position: relative;
  }
  .btn-burger::after, .btn-burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    left: 0px;
    right: 0px;
    width: 29px;
    margin: 0 auto;
    color: #FA8305;
  }
  .btn-burger::before {
    height: auto;
    border-top: 3px solid #FA8305;
    border-bottom: 3px solid #FA8305;
    top: 12px;
    bottom: 12px;
  }
  .btn-burger::after {
    height: 3px;
    background-color: #FA8305;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .btn-burger.is-active::before {
    transform: rotate(45deg) translate(7px, 7px);
    height: 3px;
    border: none;
    background: currentColor;
    transition: transform 0.25s ease;
  }
  .btn-burger.is-active::after {
    transform: rotate(-45deg);
    transition: transform 0.25s ease;
  }
  .wrap_header.is-active {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row-reverse;
    padding-left: 20px;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 100;
    overflow: auto;
  }
  .logo.is-active {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer .wrap {
    flex-direction: column;
  }
  .hero {
    padding: 30px 0;
  }
  .hero__joystick {
    min-width: unset;
  }
  .hero__pic-block {
    top: 20px;
  }
  .hero__picture-wrap_1 {
    margin-top: unset;
  }
}
@media screen and (max-width: 450px) {
  .subscribe-form {
    padding: 20px;
  }
  .subscribe-form__email-form {
    flex-direction: column;
    padding: 6px;
  }
  .subscribe-form__input {
    padding: 8px 14px 15px 22px;
    width: 100%;
  }
  .projects__list {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  .projects__img {
    width: 100%;
    height: 200px;
  }
}/*# sourceMappingURL=styles.css.map */