@import "vars.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(177deg, #050301 -30.15%, #120A01 92.85%);

}

a {
    cursor: pointer;
    text-decoration: none;
}

a,
.btn_subscribe,
.contacts-form__btn-submit {
    cursor: pointer;
    &:hover, 
    &:focus {
        transform: skew(-8deg);
    }
}

ul {
    list-style: none;
}

.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1175px;
    width: 100%;
    &_wrapper-bg {
        max-width: 1375px;
        padding: 0;
    }
    &_header {
        max-width: 1375px;
    }
    &_hero-index {
        // margin: 0 90px;
        justify-content: center;
        display: flex;
    }
    &_projects {
        max-width: 1200px;
    }
    &_subscribe {
        max-width: 1200px;
    }
    &_footer {
        max-width: 1220px;
    }
    &_about {
        max-width: 1250px;
    }
    &_team {
        max-width: 1300px;
        // padding-left: 44px;
    }
    &_services-news {
        max-width: 1200px;
    }
    &_customers {
        max-width: 1330px;
    }
    &_news-block {
        max-width: 1300px;
    }
}

.logo {
    color: $textcolor;
    font-size: 29px;
    font-weight: 800;
    line-height: 153.5%;
    text-transform: uppercase;
}

.header {
    // background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
    // backdrop-filter: blur(7px);
    color: #fff;
    padding: 44px 0 39px;
    flex: 1 0 100%;
    order: 1;
    z-index: 1;
    & .wrap_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block {
        display: flex;
        align-items: center;
        gap: 37px;
    }
    &__burger {
        display: none;
    }
}

.btn {
    border-radius: 6px;
    background: #FA9021;
    padding: 11px 28px;
    color: $textcolor;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    &_subscribe {
        display: inline-block;
        padding: 8px 14px 9px 22px;
        border-radius: 8px;
        background: #DC7000;
    }
}

.btn-borderradius {
    display: inline-block;
    padding: 14px 30px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
}

.btn-grey {
    padding: 10px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.11);
    color: $textcolor;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 187.5%;
}

.nav {
    &__list {
        display: flex;
        gap: 88px;
        align-items: center;
        z-index: 2;
        position: relative;
    }
    &__item {
        &_btn {
                border-radius: 6px;
                background: #FA9021;
                padding: 11px 28px;
                color: $textcolor;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                &:hover {
                    color: #FA9021;
                    background: transparent;
                }
            }
    }
    &__link {
        color: $textcolor;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        &:hover {
            border-bottom: 2px solid #FA9021;
            color: #FA9021;
        }
    }
}

.title {
    font-family: 'Poppins', sans-serif;
    color: $textcolor;
    font-weight: 700;
    &_main {
        font-size: 50px;
        line-height: 155.2%;
    }
    &_xl {
        font-size: 35px;
        font-weight: 600;
        line-height: 187.5%;
    }
    &_l {
        font-family: 'Rubik', sans-serif;
        font-size: 31px;
        line-height: 187.5%;
    }
    &_m {
        font-size: 30px;
        line-height: 187.5%;
    }
    &_s {
        font-size: 25px;
    }
    &_xs {
        font-size: 17px;
    }
}

.title-block {
    max-width: 545px;
    width: 100%;
    &__title-m {
        margin-bottom: 32px;
    }
    &__text {
        margin-bottom: 46px;
        color: $textcolor;
        font-size: 16px;
        font-weight: 400;
        line-height: 187.5%;
    }
}

.hero {
    padding: 70px 0;
    flex: 1 0 52%;
    order: 2;
    &__text-block {
        flex: 1 0 45%;
    }
    &__name {
        color: #E87D0E;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 155%;
        margin-bottom: 17px;
        max-width: 160px;
        width: 100%;
    }
    &__title {
        margin-bottom: 26px;
        max-width: 480px;
        width: 100%;
    }
    &__desc {
        color: $textcolor;
        font-size: 16px;
        font-weight: 500;
        line-height: 200%;
        margin-bottom: 50px;
        max-width: 527px;
        width: 100%;
    }
        &__joystick {
            position: relative;
            // margin-top: -193px;
                // margin-left: 90px;
                // flex: 1 0 45%;
                // order: 3;
                max-width: 806px;
                min-width: 444px;
                width: 100%;
                // height: 761px;
                // background-image: url(../img/index/joy_stick.png);
                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position: center;
        }
                &__joystick::before {
                    content: '';
                    
                    width: 100%;
                    height: 770px;
                    
                    background-image: url(../img/index/joy_stick.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    // background-position: 130px 0;
                    z-index: 0;
                    position: absolute;
                    top: -270px;
                    right: 0;
                    
                    opacity: .9;
        
                }
    
    &__pic-block {
        display: flex;
        position: absolute;
        top: 15px;
        left: -100px;
        // transform: translate(-50%, -50%);
        // border: 1px solid red;
        max-width: 578px;
        width: 100%;
        height: 221px;
    }
    &__picture-wrap {
        &_1 {
            margin-top: auto;
        }
        &_2 {
            margin-left: 50px;
        }
        &_3 {
            margin-left: auto;
        }
    }
}

// .wrapper-bg {
//     & .wrap {
//         display: flex;
//         flex-wrap: wrap;
//         // overflow: hidden;
//     }    
// }

.trending {
    padding-top: 132px;
    &__line {
        display: flex;
        flex-wrap: wrap;
        row-gap: 47px;
        justify-content: space-between;
        margin-bottom: 57px;
    }
    &__list {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        gap: 47px;
    }
    &__item-link {
        text-align: center;
        max-width: 251px;
        width: 100%;
        display: block;
    }
    &__pic {
        margin-bottom: 25px;
        border-radius: 20px;
    }
    &__followers {
        color: $textcolor;
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 187.5%;
    }
}

.index-block {
    padding-top: 129px;
    position: relative;
    &__title {
        margin: 0 auto 67px;
        text-align: center;
        max-width: 826px;
        width: 100%;
    }
    &__pic {
        position: relative;
    }
    &__svg {
        position: absolute;
        top: -70px;
        right: 113px;
        z-index: -1;
    }
}

.benefits {
    background-image: url(../img/index/benef-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: $textcolor;
    & .wrap {
        padding: 93px 51px;
    }
    &__desc {
        text-align: center;
        max-width: 826px;
        width: 100%;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 99px;
        font-size: 16px;
        font-weight: 400;
        line-height: 187.5%;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // row-gap: 62px;
        // grid-template-areas: 
        //     "a b c d"
        //     ". e f .";
    }
}

.item-benefits {
    // display: flex;
    // flex-direction: column;
    // gap: 30px;
    // align-items: center;
    &__link {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        color: $textcolor;
            font-size: 16px;
            font-weight: 500;
            line-height: 187.5%;
    }
    &__pic {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        & .icon-smartphone-2-1 {
            font-size: 30px;
        }
        & .icon-pc-1 {
            font-size: 32px;
        }
        & .icon-ps4-1 {
            font-size: 40px;
        }
        & .icon-vr-glasses-1 {
            font-size: 31px;
        }
        & .icon-desktop-1-1 {
            font-size: 33px;
        }
        & .icon-d-cube-1 {
            font-size: 31px;
        }
    }
}

.projects {
    padding-top: 148px;
    padding-bottom: 105px;
    color: $textcolor;
    & .wrap {
        text-align: center;
    }
    &__desc {
        margin: 0 auto 71px;
        text-align: center;
        max-width: 497px;
        width: 100%;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 187.5%;
    }
    &__btn {
        display: inline-block;
    }
    &__list {
        margin-bottom: 72px;
        display: grid;
        row-gap: 5%;
        // // column-gap: 27px;
        grid-auto-columns: 0.69fr 0.07fr 0.3fr 0.07fr 0.86fr 0.07fr 0.26fr 0.07fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas: "1 2 3 4 5 6 7 8 9"
        "a b c d e f g h j";
    }
    &__img {
        height: 100%;
        width: 100%;
        &_1 {
            grid-column: span 4;
            width: 95%;
        }
        &_2 {
            grid-column: span 4;
            width: 95%;
        }
        &_5 {
            grid-column: span 4;
            width: 95%;
            justify-self: right;
        }
        &_6 {
            grid-column: span 4;
            width: 95%;
            justify-self: right;
        }
    }
}

.subscribe {
    padding-bottom: 163px;
    & .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.subscribe-form {
    width: 100%;
    color: $textcolor;
    padding: 40px 50px 42px 56px;
    border-radius: 15px;
    background: #1C140F;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    &__desc {
        max-width: 566px;
        width: 100%;
        padding-right: 30px;
        // width: calc(100% - 528px);
        // flex: 0 1 50%;
    }
    &__title {
        font-weight: 500;
        margin-bottom: 10px;
        line-height: normal;
    }
    &__text {
        font-size: 17px;
        font-weight: 400;
    }
    &__email-form {
        // flex: 0 1 50%;
        border-radius: 8px;
        background: #FFF;
        padding: 6px 6px 6px 31px;
        max-width: 386px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__input {
        outline: none;
        &::placeholder {
            color: #898989;
            font-size: 13px;
        }
    }
}

.footer {
    background: #070707;
    color: $textcolor;
    & .wrap {
        display: flex;
        padding: 73px 15px 62px;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 40px;
    }
    &__desc {
        max-width: 370px;
        width: 100%;
    }
    &__logo {
        margin-bottom: 15px;
    }
    &__text {
        margin-bottom: 25px;
    }
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__column-title {
        margin-bottom: 15px;
    }
    &__column-link {
        color: $textcolor;
        font-size: 16px;
        font-weight: 400;
        line-height: 186.3%;
        &_text {
            line-height: normal;
            max-width: 282px;
            width: 100%;
            margin-bottom: 11px;
        }
    }
}

.social-row {
    display: flex;
    gap: 16px;
    align-items: center;
    &__link {
        width: 34px;
        height: 34px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
    }
    & .icon {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
    }
}

.copyright {
    border-top: 1px solid #D2D2D2;
    padding: 29px 0;
    text-align: center;
    color: $textcolor;
    font-size: 13px;
    font-weight: 400;
    line-height: 190.6%;
}

.nav-mobile {
    display: none;
}

@media screen and (max-width:1024px) {
    .nav {
        &__list {
            gap: 50px;
        }
    }
    .benefits {
        &__list {
            gap: 50px;
        }
        &__item {
                width: 220px;
                text-align: center;
            }
    }
}

@media screen and (max-width:800px) {
    .trending {
        // padding-top: 0;
        &__list {
            flex-wrap: wrap;
        }
    }
    .header {
        padding-bottom: 0;
        &__burger {
                display: block;
        
            }
    }
    .wrap_hero-index {
            flex-direction: column;
            // row-gap: 40;
        }
        .index-block {
            padding-top: 70px;
        }
        .projects {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        .subscribe {
            padding-bottom: 70px;
        }
    .hero {
        &__joystick {
                // margin-top: -50px;
                margin-left: 0;
                flex: unset;
            }
                        &__joystick::before {
                            content: '';
                            order: 3;
                            max-width: 100%;
                            min-width: 444px;
                            width: 100%;
                            height: 444px;
                            background-image: url(../img/index/joy_stick.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: 180px 0;
                            z-index: 0;
                            position: absolute;
                            top: auto;
                            right: 0;
                            bottom: calc(100% + 50px);
                            opacity: .1;
            
                        }
        &__pic-block {
            height: 100px;
            align-items: center;
            justify-content: space-between;
            top: 50px;
            left: 0;
        }
        &__picture-wrap {
            margin: unset;
                opacity: 0.5;
        }
                
        
    }
    
    .subscribe-form {
        flex-direction: column;
        text-align: center;
        &__desc {
            padding-right: 0;
        }
    }
    .footer {
        &__desc {
            order: 1;
            max-width: 282px;
        }
        &__social {
            order: 2;
        }
        &__column_about {
            order: 4;
        }
        &__column_contact {
            order: 3;
        }
        
    }
    .nav {
        display: none;
    }
    .nav-mobile {
        // display: flex;
        &.is-active {
            display: flex;
            margin-right: auto;
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }    
        &__item {
            &_btn {
                border-radius: 6px;
                background: #FA9021;
                padding: 11px 28px;
                color: $textcolor;
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
            }
        }
        &__link {
            color: $textcolor;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
        
            &:hover {
                    border-bottom: 2px solid #FA9021;
                    color: #FA9021;
                }
        }
    }
    .btn-burger {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        // border: 2px solid #fff;
        background: transparent;
        position: relative;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            left: 0px;
            right: 0px;
            width: 29px;
            margin: 0 auto;
            color: #FA8305;
        }
        &::before {
            height: auto;
            border-top: 3px solid #FA8305;
            border-bottom: 3px solid #FA8305;
            top: 12px;
            bottom: 12px;
        }
        &::after {
            height: 3px;
            background-color: #FA8305;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        &.is-active::before {
            transform: rotate(45deg) translate(7px, 7px);
            height: 3px;
            border: none;
            background: currentColor;
            transition: transform .25s ease;
        }
        &.is-active::after {
            transform: rotate(-45deg);
            transition: transform .25s ease;
        }
    }
    .wrap_header.is-active {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: row-reverse;
                padding-left: 20px;
                width: 100%;
                height: 100vh;
                background-color: #000;
                z-index: 100;
                overflow: auto;
        }
        .logo {
    
            // display: flex;
            &.is-active {
                display: none;
            }
        }
}

@media screen and (max-width: 600px) {
    
    // .projects {
    //     &__list {
    //         row-gap: 1.6%;
    //         grid-template-areas: unset;
    //         grid-auto-columns: unset;
    //         grid-auto-rows: unset;
    //     }
    //     &__img {
    //         width: 100%;
    //     }
    // }
    .footer .wrap {
        flex-direction: column;
    }
        .hero {
            padding: 30px 0;
            &__joystick {
                min-width: unset;
                // background-size: contain;
            }
            &__pic-block {
                top: 20px;
            }
            &__picture-wrap_1 {
                margin-top: unset;
            }
        }
}

@media screen and (max-width: 450px) {
    .subscribe-form {
        padding: 20px;
        &__email-form {
            flex-direction: column;
            padding: 6px;
        }
        &__input {
            padding: 8px 14px 15px 22px;
            width: 100%;
        }
    }    
    .projects {
        &__list {
            display: flex;
            flex-direction: column;
            gap: 27px;
        }
        &__img {
            width: 100%;
            height: 200px;
        }
    }
}
 