@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cg9tg2');
  src:  url('fonts/icomoon.eot?cg9tg2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cg9tg2') format('truetype'),
    url('fonts/icomoon.woff?cg9tg2') format('woff'),
    url('fonts/icomoon.svg?cg9tg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-1300 .path1:before {
  content: "\e913";
  color: rgb(221, 224, 228);
}
.icon-Group-1300 .path2:before {
  content: "\e914";
  margin-left: -8.4375em;
  color: rgb(221, 224, 228);
}
.icon-Group-1300 .path3:before {
  content: "\e915";
  margin-left: -8.4375em;
  color: rgb(221, 224, 228);
}
.icon-Group-1300 .path4:before {
  content: "\e916";
  margin-left: -8.4375em;
  color: rgb(220, 112, 0);
}
.icon-ant-design_star-filled:before {
  content: "\e910";
  color: #fea250;
}
.icon-heroicons_sm-user:before {
  content: "\e90d";
  color: #dc7000;
}
.icon-bx_bxs-server:before {
  content: "\e90e";
  color: #dc7000;
}
.icon-gridicons_location:before {
  content: "\e90f";
  color: #dc7000;
}
.icon-arrow-6:before {
  content: "\e90c";
  color: #fff;
}
.icon-d-cube-1:before {
  content: "\e906";
  color: #dc7000;
}
.icon-desktop-1-1:before {
  content: "\e907";
  color: #dc7000;
}
.icon-vr-glasses-1:before {
  content: "\e908";
  color: #dc7000;
}
.icon-ps4-1:before {
  content: "\e909";
  color: #dc7000;
}
.icon-pc-1:before {
  content: "\e90a";
  color: #dc7000;
}
.icon-smartphone-2-1:before {
  content: "\e90b";
  color: #dc7000;
}
.icon-linkedin-1:before {
  content: "\e901";
}
.icon-twitter-1:before {
  content: "\e902";
}
.icon-instagram-1:before {
  content: "\e903";
}
.icon-facebook-1:before {
  content: "\e904";
}
.icon-arrow-2:before {
  content: "\e905";
  color: #dc7000;
}
.icon-fire-1:before {
  content: "\e900";
  color: #fff;
}
.icon-eva_arrow1:before {
  content: "\e911";
  color: #dc7000;
}
.icon-eva_arrow2:before {
  content: "\e912";
  color: #fff;
}
